interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/?id=1401561%2C1401559%2C1401560
  response:
    body:
      string: '{"total":3,"entries":[{"id":1401559,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":0,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":28,"pcode4":0},"homeLibraryCode":"li","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0},{"id":1401560,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":7,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":48,"pcode4":0},"homeLibraryCode":"fe","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0},{"id":1401561,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":0,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":45,"pcode4":0},"homeLibraryCode":"mo","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons//?id=1401559%2C1401560%2C1401561
  response:
    body:
      string: 'Requesting "GET /" on servlet "/v5/patrons" but only have: <ul><li>DELETE
        /:id [Boolean Guard]</li><li>DELETE /:id/checkouts/history [Boolean Guard]</li><li>DELETE
        /:id/checkouts/history/:checkoutHistoryId [Boolean Guard]</li><li>DELETE /:id/holds
        [Boolean Guard]</li><li>DELETE /holds/:holdId [Boolean Guard]</li><li>GET
        / [Boolean Guard]</li><li>GET / [Boolean Guard]</li><li>GET /:id [Boolean
        Guard]</li><li>GET /:id [Boolean Guard]</li><li>GET /:id/checkouts [Boolean
        Guard]</li><li>GET /:id/checkouts/history [Boolean Guard]</li><li>GET /:id/fines
        [Boolean Guard]</li><li>GET /:id/holds [Boolean Guard]</li><li>GET /checkouts/:checkoutId
        [Boolean Guard]</li><li>GET /find [Boolean Guard]</li><li>GET /fines/:fineId
        [Boolean Guard]</li><li>GET /holds/:holdId [Boolean Guard]</li><li>GET /metadata
        [Boolean Guard]</li><li>GET /metadata [Boolean Guard]</li><li>POST / [Boolean
        Guard]</li><li>POST /:id/holds/requests [Boolean Guard]</li><li>POST /checkouts/:checkoutId/renewal
        [Boolean Guard]</li><li>POST /query [Boolean Guard]</li><li>POST /validate
        [Boolean Guard]</li><li>PUT /:id [Boolean Guard]</li><li>PUT /:id/fines/payment
        [Boolean Guard]</li><li>PUT /holds/:holdId [Boolean Guard]</li></ul>

        '
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
