interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/token
  response:
    body:
      string: '{"access_token":"RoYV1G4K1-Fl6ObcVIRQ5xUP5_UgwvmJhkp5AkYm0xj8jzT3Ky4s_qslvUqyVY3lBUXhcbOK-mHuy1AN9pC75DcKz7GYPJ8Eg0eGRQdiwt2xq20-A1rqF2rV-v7Ti6fLmczHwzcwm_n0GtmgI7mFFnLaXRijNibEMcDvrwtugdxt_jyXwC8q80gO_JeCnQAXvSxjZyxHZDF8XIB6n4ZqIQ","token_type":"bearer","expires_in":3600}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561
  response:
    body:
      string: '{"id":1401561,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":0,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":45,"pcode4":0},"homeLibraryCode":"mo","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
