interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/?id=1401559%2C1401560%2C1401561&fields=names%2Cbarcodes%2Cemails%2Caddresses
  response:
    body:
      string: '{"total":3,"entries":[{"id":1401559,"names":["Worthington III, Warren
        Kenneth"],"barcodes":["D2491026174"],"emails":["flyboy@altavista.com"],"addresses":[{"lines":["1407
        Graymalkin Lane","Fenton, MI  48430"],"type":"a"}]},{"id":1401560,"names":["Drake,
        Bobby Louis"],"barcodes":["D2491026166"],"emails":["iceman@chillout.net"],"addresses":[{"lines":["123
        Floral Park","Holly, MI  48442"],"type":"a"}]},{"id":1401561,"names":["McCoy,
        Hank Philip"],"barcodes":["D2491026132"],"emails":["hmccoy@xavierinstitute.edu"],"addresses":[{"lines":["101
        Dundee Lane","Montrose, MI  48457"],"type":"a"}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons//?fields=names%2Cbarcodes%2Cemails%2Caddresses&id=1401559%2C1401560%2C1401561
  response:
    body:
      string: 'Requesting "GET /" on servlet "/v5/patrons" but only have: <ul><li>DELETE
        /:id [Boolean Guard]</li><li>DELETE /:id/checkouts/history [Boolean Guard]</li><li>DELETE
        /:id/checkouts/history/:checkoutHistoryId [Boolean Guard]</li><li>DELETE /:id/holds
        [Boolean Guard]</li><li>DELETE /holds/:holdId [Boolean Guard]</li><li>GET
        / [Boolean Guard]</li><li>GET / [Boolean Guard]</li><li>GET /:id [Boolean
        Guard]</li><li>GET /:id [Boolean Guard]</li><li>GET /:id/checkouts [Boolean
        Guard]</li><li>GET /:id/checkouts/history [Boolean Guard]</li><li>GET /:id/fines
        [Boolean Guard]</li><li>GET /:id/holds [Boolean Guard]</li><li>GET /checkouts/:checkoutId
        [Boolean Guard]</li><li>GET /find [Boolean Guard]</li><li>GET /fines/:fineId
        [Boolean Guard]</li><li>GET /holds/:holdId [Boolean Guard]</li><li>GET /metadata
        [Boolean Guard]</li><li>GET /metadata [Boolean Guard]</li><li>POST / [Boolean
        Guard]</li><li>POST /:id/holds/requests [Boolean Guard]</li><li>POST /checkouts/:checkoutId/renewal
        [Boolean Guard]</li><li>POST /query [Boolean Guard]</li><li>POST /validate
        [Boolean Guard]</li><li>PUT /:id [Boolean Guard]</li><li>PUT /:id/fines/payment
        [Boolean Guard]</li><li>PUT /holds/:holdId [Boolean Guard]</li></ul>

        '
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
