interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/token
  response:
    body:
      string: '{"access_token":"IBwo535srfocrJAYTs-Dl1Naw0Xhh3UhgKyisW086eJEk9-QNQ8o2-j2uRoMLtn2W56hjb9tp3qGn_XyJI158CeYFrbRigmpPGqzfoXXTDYETBwjO4Euj6ge1gvRtvm7Ck3zcIxNwmQRP70vnQE-jz1-aa_8Ar37t0viWzIObvcFNWeGpLLY_La8FKqC6meLfFPYRB46X1BnfmVGbYnUsw","token_type":"bearer","expires_in":3600}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"target": {"field": {"tag": "z"}, "record": {"type": "patron"}}, "expr":
      {"operands": ["hmccoy@xavierinstitute.edu", ""], "op": "equals"}}'
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/query?offset=0&limit=10
  response:
    body:
      string: '{"total":1,"start":0,"entries":[{"link":"https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
