interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561?fields=names%2Cbarcodes%2Cemails%2Caddresses
  response:
    body:
      string: '{"id":1401561,"names":["McCoy, Hank Philip"],"barcodes":["D2491026132"],"emails":["hmccoy@xavierinstitute.edu"],"addresses":[{"lines":["101
        Dundee Lane","Montrose, MI  48457"],"type":"a"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
