interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/token
  response:
    body:
      string: '{"access_token":"UqXDO2OiSMDiDpT-OXV3ZbeKJtkWpdxAQKDZ61BykNppTQEoMpAG-oUtH0riHSP5peFjMR-mlCTkRDYGPIW1OY4RyYWBl1xeVWRQdQcRXtEpru_m28iyubYIK868mbbKZkCc4QwVggJf5BpDVNREFxVZuYPeNa3zax2t6127dF18PoAaLnaTVUE5MN2E3Ow_ybB2F0CI-zHh_1PSfyCxFQ","token_type":"bearer","expires_in":3600}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"expr": {"op": "equals", "operands": ["D2491026132", ""]}, "target": {"record":
      {"type": "patron"}, "field": {"tag": "b"}}}'
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/query?offset=0&limit=10
  response:
    body:
      string: '{"total":1,"start":0,"entries":[{"link":"https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
