interactions:
- request:
    body: '{"expr": {"op": "equals", "operands": ["810-555-4247", ""]}, "target":
      {"record": {"type": "patron"}, "field": {"tag": "t"}}}'
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/query?offset=0&limit=10
  response:
    body:
      string: '{"total":0,"start":0,"entries":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
