interactions:
- request:
    body: '{"target": {"field": {"tag": "b"}, "record": {"type": "patron"}}, "expr":
      {"op": "equals", "operands": ["D2491026132", ""]}}'
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/query?limit=10&offset=0
  response:
    body:
      string: '{"total":1,"start":0,"entries":[{"link":"https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
