interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/find?varFieldTag=b&varFieldContent=D2491026132
  response:
    body:
      string: '{"id":1401561,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":0,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":45,"pcode4":0},"homeLibraryCode":"mo","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
