interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/token
  response:
    body:
      string: '{"access_token":"zVb4wX0meg3X52Efc1B0mZpcGNYhtow5t8XKVjRRuA51WjcJk-I4CX-7kZCK5eCeZ2g5Nk26bsPkeOWKKRI76GLsYrCZLiI0s7LJm3XZapYnN_fedkuN-RqxFTREEqefe-rx_vhA8jgyDfHXIGFiS8Gc7NGEr7rc_QMbovwICJplx_LGLu08nJ0rbZkdQwATNR-J3R5M_cOw1uBbOwj8jA","token_type":"bearer","expires_in":3600}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561
  response:
    body:
      string: '{"id":1401561,"expirationDate":"2023-10-09","birthDate":"1963-07-02","patronType":0,"patronCodes":{"pcode1":"o","pcode2":"-","pcode3":45,"pcode4":0},"homeLibraryCode":"mo","message":{"code":"-"},"blockInfo":{"code":"-"},"moneyOwed":0.0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
