interactions:
- request:
    body: '{"expr": {"op": "equals", "operands": ["D2491026132", ""]}, "target": {"record":
      {"type": "patron"}, "field": {"tag": "b"}}}'
    headers:
      Content-type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://library.thegdl.org/iii/sierra-api/v5/patrons/query?offset=0&limit=10
  response:
    body:
      string: '{"total":1,"start":0,"entries":[{"link":"https://library.thegdl.org/iii/sierra-api/v5/patrons/1401561"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
